.credentialsForm {
  width: 489px;
}

.credentialsForm input {
  height: 48px;
  width: 100%;
  border: 1px solid #37447e;
  border-radius: 2px;
  padding: 8px 16px;
}

.title {
  text-align: center;
  margin-bottom: 40px;
}

.emailWrapper {
  margin-bottom: 20px;
}

.passwordWrapper {
  margin-bottom: 40px;
}

.inputText {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  margin-bottom: 20px;
}

.submitButton {
  display: block;
  color: #ffffff;
  background: #a7aab3;
  border-radius: 10px;
  width: 350px;
  height: 50px;
  border: 1px solid #ffffff;
  margin: 0 auto;
}
