.totalDisplay{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 329px;
}

.totalDisplay h3 {
    font-family: 'PT Sans';
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    color: #37447e;
}
.paymentTitle {
    font-family: 'PT Sans';
    font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        color: #000000;
}

.paymentInput {
    color: #37447e;
    box-sizing: box;
    border: 1px solid #37447e;
    border-radius: 2px;
    width: 145px;
    height: 50px;
    padding: 8px 16px;
}
.red {
    color: red;
}