* {
    margin: 0;
    box-sizing: border-box;
    --webkit-font-smoothing: antialiased;
}

.startUp {
   
    background: #BAC3E5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    /* or 133% */

    text-align: center;

    color: #37447E;
}

body {
    background: #EDF2F7;
    font-family: 'Muli', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.modal__container {
    position: absolute;
    width: 785px;
    height: 518px;
    left: 243px;
    top: 362px;
    
    
    /* Blue Fill */

    background: #EFF2FC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.modal_header {
    position: absolute;
    width: 784px;
    height: 68px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(34, 47, 101, 0.15);
    border-radius: 20px 20px 0 0;
}

.header_title {
    /* An Insider has decided to take on your request! */

    position: absolute;
    width: 508px;
    height: 29px;
    left: 140px;
    top: 20.5px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    /* identical to box height, or 29px */

    display: flex;
    align-items: center;

    color: #37447E;
}

.modal_body {
    /* Rectangle 193 */
    position: absolute;
    width: 705px;
    height: 275px;
    left: 40px;
    top: 108px;

    /* White */

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(34, 47, 101, 0.25);
    border-radius: 20px;
}


.approve_button {
    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;

    position: absolute;
    width: 337px;
    height: 55px;
    left: 40px;
    top: 423px;

    justify-content: center;
    padding: 8px 24px;
    gap: 10px;

    width: 337.5px;
    height: 55px;

    background: #37447E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
/* or 133% */

    text-align: center;

    color: #FFFFFF;


/* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.decline_button {
   /* Auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    display: flex;
    flex-direction: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    gap: 10px;
    position: absolute;
    width: 337.5px;
    height: 55px;
    left: 410px;
    top: 423px;

    background: #BAC3E5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    /* or 133% */

    text-align: center;

    color: #37447E;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;


}


.modal_container_button {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 730px;
    top: 16px;

    background: #FFFFFF;

}

.modal_container_button :hover {
    color: #060111;
}
.active {
    opacity: 1;
    pointer-events: auto;
}
.modal__wrapper.active .modal__container{
    transform: translateY(0px);
}
