.container {
  max-width: 1100px;
  padding: 80px 0px;
  margin: auto;
}

.listContainer {
  border-bottom: 1px solid #bac3e5;
}
.allTab {
  border: none;
  background: transparent;
  height: 40px;
  width: 160px;
  border-bottom: 4px solid #37447e;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.newCountIcon {
  padding: 0px 6px;
  background-color: #ffc93c;
  color: #000000;
  border-radius: 7px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-left: 30px;
}

.list {
  display: flex;
  flex-direction: column;
}
