.container {
  max-width: 1270px;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 80px;
}

.containerText {
  font-family: PT Sans;
  text-align: center;
  margin-bottom: 60px;
}

.title {
  margin-bottom: 20px;
}
.containerBulletPoints {
  max-width: 1110px;
  margin: 0 auto;
}

@media only screen and (max-width: 600px) {
  .containerText h2 {
    font-size: 38px;
    margin-bottom: 20px;
  }

  .containerText {
    padding: 0px 10px;
  }
  .containerBulletPoints {
    grid-template-columns: 1fr;
    padding: 10px;
  }
}
