.container {
  max-width: 1270px;
  margin: 0 auto;
  padding: 40px 0px;
}

.title {
  margin-bottom: 40px;
  text-align: center;
}

.featureCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.individualCard {
  width: 350px;
  height: 380px;
  border-radius: 20px;
  border: 1px solid #bac3e5;
  overflow: hidden;
}

.individualCard img {
  width: 100%;
}

.textWrapper {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding-left: 20px;
  padding-right: 20px;
  color: #181818;
}

.cardTitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 65px;
  color: #181818;
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 40px 30px;
  }
  .featureCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
}
