.title {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: 1px;
  color: #222f65;
}

.description {
  margin: 40px 0px;
  font-family: "PT Sans";
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  color: #000;
}
