.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 0px;
  gap: 40px;
}

.title {
  font-family: PT Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 65px;
  letter-spacing: 1px;
  color: #222f65;
  text-align: center;
}

.description {
  font-family: PT Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 60px 30px;
  }
  .title {
    font-size: 36px;
    line-height: 44px;
  }
}
