.container {
  padding: 60px 0px;
  background-color: #37447e;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.containerText {
  font-family: PT Sans;
  margin-bottom: 40px;
}

.title {
  margin-bottom: 40px;
  text-align: center;
}

.containerImage {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.containerImage img {
  width: 350px;
  height: 305px;
}

@media only screen and (max-width: 600px) {
  .containerText {
    padding: 0px 25px;
  }

  .title h2 {
    font-size: 32px;
  }

  .description {
    font-size: 18px;
    line-height: 30px;
  }

  .containerImage img {
    margin-left: 0px;
    margin-bottom: 40px;
  }
}
