.redAsterick {
  color: red;
}

.resumeTitle {
  font-family: "PT Sans";
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.resumeIcon {
  vertical-align: -10%;
  margin-right: 11px;
}

.attachLabelBtn {
  display: inline-block;
  background-color: #37447e;
  border-radius: 10px;
  color: #fff;
  height: 46px;
  padding: 8px 24px;
  font-family: "PT Sans";
  font-style: normal;
  line-height: 30px;
  border: none;
  cursor: pointer;
  font-weight: 700 !important;
  font-size: 18px !important;
  margin: 0px 0px !important;
}

.replaceLabelBtn {
  display: inline-block;
  padding: 8px 24px;
  gap: 10px;
  width: 108px;
  height: 46px;
  background: #bac3e5;
  border-radius: 9px;
  font-family: "PT Sans";
  font-style: normal;
  line-height: 30px;
  color: #37447e;
  cursor: pointer;
  font-weight: 700 !important;
  font-size: 18px !important;
  margin: 0px 0px !important;
}

.fileChosen {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  margin-right: 40px;
}
