.red {
    color: red;
}

.grey {
    color: rgba(26, 32, 61, 0.3);
    margin-left: 12px;
}

.resumeTitle {
    font-family: 'PT Sans';
    margin-bottom: 12px;
    font-weight: 400;
        font-size: 20px;
        line-height: 30px;
}