.container {
  max-width: 1270px;
  margin: 0 auto;
  padding-top: 55px;
  padding-bottom: 40px;
}
.wrapper {
  max-width: 1110px;
  margin: 0 auto;
  display: flex;
  gap: 40px;
}
.formControl {
  align-self: stretch;
  max-width: 638px;
  background: #f9fafe;
  padding: 40px 40px;
  left: 78px;
  right: 127px;
  gap: 40px;
}

.textWrapper {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  padding: 0px 30px;
  color: #222f65;
}
.bubble {
  position: relative;
  width: 430px;
  top: 1120px;
}

.bubble img {
}
