.container {
  width: 100%;
  margin-top: 40px;
}
.title {
  margin-bottom: 25px;
}

.bulletPoints {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  list-style-type: none;
  padding: 0px;
}

.bulletPoints li {
  background-repeat: no-repeat;
  background-position: 0px;
  background-size: 33px;
  padding-left: 43px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 63px;
  color: #091133;
}

@media only screen and (max-width: 600px) {
  .title {
    margin-bottom: 20px;
  }

  .containerBulletPoints {
    grid-template-columns: 1fr;
  }

  .bulletPoints {
    list-style-type: none;
    padding: 5px;
  }

  .bulletPoints li {
    background-position: 0px;
    background-size: 28px;
    padding-left: 40px;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 15px;
  }
}
