.rowContainer {
  width: 100%;
  padding: 16px;
  display: flex;
  align-items: flex-start;
  gap: 30px;
  border-top: 1px solid #bac3e5;
}

.avatar {
  width: 50px;
  height: 50px;
}
.avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.requestContent {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.userInfo {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.date,
.apply {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #545454;
}

.name {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #181818;
}

.resumeIcon {
  vertical-align: middle;
  margin-right: 7px;
}

.resume a {
  display: flex;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: #37447e;
}
.buttonWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.buttonWrapper button {
  width: 91px;
}
.price {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #181818;
}
