body {
  margin: 0;
  padding: 0 !important;
  font-family: "PT Sans", "Roboto", Arial, sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  font-family: "PT Sans";
  font-style: normal;
  border: none;
}

a {
  text-decoration: none;
}
