.accountForm {
  display: flex;
  flex-direction: column;
}

.accountForm label {
  color: #222f65;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 12px;
}

.emailButton {
  margin-bottom: 40px;
  display: flex;
}

.accountForm input {
  margin-bottom: 40px;
  height: 48px;
  padding: 16px 8px;
  border: 1px solid #37447e;
  border-radius: 2px;
}

.buttonText {
  margin-left: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #363637;
}
