.startUp {
  background: #bac3e5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  /* or 133% */

  text-align: center;
  color: #37447e;
}

.modal__container {
  position: absolute;
  width: 785px;
  height: 518px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  /* Blue Fill */

  background: #eff2fc;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.modal_header {
  position: absolute;
  width: 784px;
  height: 68px;
  left: 0px;
  top: 0px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(34, 47, 101, 0.15);
  border-radius: 20px 20px 0 0;
}

.header_title {
  /* An Insider has decided to take on your request! */

  position: absolute;
  width: 508px;
  height: 29px;
  left: 140px;
  top: 20.5px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  /* identical to box height, or 29px */

  display: flex;
  align-items: center;

  color: #37447e;
}

.modal_body {
  /* Rectangle 193 */
  position: absolute;
  width: 705px;
  height: 275px;
  left: 40px;
  top: 108px;

  /* White */

  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(34, 47, 101, 0.25);
  border-radius: 20px;
  
  margin : auto;

  display: flex;

}

/* .body {
  background-color: grey;
  width: 500px;
  height: 250px;
  border-radius: 10px;
  margin: auto;
  display: flex;
}  */

.image_container {
  width: 300px;
  height: 125px;
  border-radius: 50%;
  margin-top: 15px;
  margin-left: 15px;
}

.details_container {
  width: 320px;
  height: 200px;
  margin: auto 0px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.name {
  background-color: white;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  /* width: 300px;
  height: 45px; */
  width: 251.97px;
  height: 35.08px;
  line-height: 44px;

  margin: 10px auto 0px;
  color: #222F65;
}
.company_name {

  background-color: white;
  width: 251.97px;
  height: 71.56px;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  /* width: 300px;
  height: 30px; */
  margin: 0px auto;
}

.designation {
  background-color: white;
  width: 251.97px;
  height: 71.56px;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  margin: 0px auto;
}

.social {
  background-color: white;
  width: 300px;
  height: 45px;
  margin: 0px auto;
  border-radius: 10px;
  display: flex;
  column-gap: 20px;
  margin-left: 30px;
}




.approve_button {
  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 30px;

  position: absolute;
  width: 337px;
  height: 55px;
  left: 40px;
  top: 423px;

  justify-content: center;
  padding: 8px 24px;
  gap: 10px;

  width: 337.5px;
  height: 55px;

  background: #37447e;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  /* or 133% */

  text-align: center;

  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.decline_button {
  /* Auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  display: flex;
  flex-direction: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  gap: 10px;
  position: absolute;
  width: 337.5px;
  height: 55px;
  left: 410px;
  top: 423px;

  background: #bac3e5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  /* or 133% */

  text-align: center;

  color: #37447e;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.modal_container_button {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 730px;
  top: 16px;

  background: #ffffff;
}

.modal_container_button :hover {
  color: #060111;
}
.active {
  opacity: 1;
  pointer-events: auto;
}
.modal__wrapper.active .modal__container {
  transform: translateY(0px);
}
