.container {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.containerEven {
  flex-direction: row;
}

.containerOdd {
  flex-direction: row-reverse;
  padding-bottom: 15px;
  padding-right: 120px;
}

.wrapperText {
  flex: 1;
}

.title {
  margin-bottom: 27px;
}
.wrapperText p {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #091133;
}

.wrapperEllipse {
  height: 226px;
  width: 226px;
}

.wrapperEllipse img {
  height: 100%;
  width: 100%;
}

.wrapperEllipseEven {
  margin-left: 65px;
}

.wrapperEllipseOdd {
  margin-right: 62px;
}

@media only screen and (max-width: 600px) {
  .container {
    display: flex;
    align-items: center;
    padding: 0px 30px;
    margin-bottom: 40px;
  }

  .containerEven {
    flex-direction: column;
  }

  .containerOdd {
    flex-direction: column;
  }

  .wrapperEllipseEven {
    margin-left: 0px;
    margin-top: 30px;
  }

  .wrapperEllipseOdd {
    margin-right: 0px;
    margin-top: 30px;
  }
}
