.container {
  display: flex;
  align-items: center;
  padding: 0px 25px;
  margin-bottom: 40px;
}

.containerEven {
  flex-direction: row;
}

.containerOdd {
  flex-direction: row-reverse;
  padding-bottom: 15px;
}

.wrapperText {
  max-width: 725px;
}

.wrapperText h2 {
  margin-bottom: 20px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 50px;
  color: #5f6ea6;
}

.wrapperText p {
  font-family: PT Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
  color: #091133;
}

.wrapperEllipse {
  height: 240px;
  width: 240px;
}

.wrapperEllipse img {
  height: 100%;
  width: 100%;
}

.wrapperEllipseEven {
  margin-left: 80px;
}

.wrapperEllipseOdd {
  margin-right: 80px;
}

@media only screen and (max-width: 600px) {
  .container {
    display: flex;
    align-items: center;
    padding: 0px 25px;
    margin-bottom: 40px;
  }

  .containerEven {
    flex-direction: column;
  }

  .containerOdd {
    flex-direction: column;
  }
  .wrapperText h2 {
    font-size: 34px;
    line-height: 40px;
  }

  .wrapperText p {
    font-size: 20px;
    line-height: 30px;
  }
  .wrapperEllipseEven {
    margin-left: 0px;
    margin-top: 30px;
  }

  .wrapperEllipseOdd {
    margin-right: 0px;
    margin-top: 30px;
  }
}
