.container {
  margin-bottom: 40px;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 47px;
  color: #222f65;
  margin-bottom: 20px;
}

.subTitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #222f65;
  margin-bottom: 20px;
}

.select {
  font-size: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  appearance: none;
}

.checkboxWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 20px; /* Updated from 10px to 20px */
}

.checkboxWrapper label {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #222f65;
  margin-left: 14px;
}
