.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0px;
}

.textWrapper {
  text-align: center;
}

.title {
  margin-bottom: 20px;
}

.companies {
  margin-top: 12px;
}

.companies img {
  max-width: 1120px;
}

.companies img:nth-of-type(2) {
  display: none;
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 40px 20px;
  }
  .container img:first-of-type {
    display: none;
  }

  .container img:nth-of-type(2) {
    display: block;
    width: 100vw;
  }
}
