.modalText {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #181818;
  margin-bottom: 20px;
}

.modalText a {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #37447e;
}

.exampleText {
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #7c7c7c;
}

.textHighlight {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #37447e;
  margin-bottom: 20px;
}
