.container {
  padding: 80px 0px;
  background: #bac3e5;
}

.wrapper {
  width: 1270px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.title {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 50px;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  color: #222f65;
}

.cardWrapper {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.secondaryButton {
  padding: 8px 24px;
  width: 189px;
  height: 46px;
  background-color: #37447e;
  border-radius: 9px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  white-space: nowrap;
  border: none;
}

.buttonText {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
}
