.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0px;
  gap: 40px;
  background: #bac3e5;
}

.title {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 50px;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  color: #222f65;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.wrapperText {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.secondaryButton {
  padding: 8px 24px;
  width: 189px;
  height: 46px;
  background-color: #37447e;
  border-radius: 9px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  white-space: nowrap;
  border: none;
}

.buttonText {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
}
