.container {
  max-width: 1270px;
  margin: 0 auto;
  padding: 40px 0px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  padding: 40px 0px;
}

.imageWrapper img {
  background: #d9d9d9;
  border-radius: 20px;
}

.rightContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 632px;
  height: 406px;
}

.title {
  margin-bottom: 40px;
}

.ellipse {
  position: relative;
  box-sizing: border-box;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  justify-content: center;
  background: #37447E;
}

.number {
  position: relative;
  width: 15.79px;
  height: 28.72px;
  left: 20.1px;
  top: 12px;
  font-weight: 400;
  font-size: 23px;
  color: #FFFFFF;
}

.rightContainer li {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
  height: 56px;
  gap: 12px;
}
.frames {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;
}

@media only screen and (max-width: 600px) {
  .title {
    text-align: center;
    margin-bottom: 20px;
  }
  .wrapper {
    display: flex;
    flex-direction: column-reverse;
    padding: 0px 0px;
  }

  .imgWrapper {
    padding: 0px 30px;
  }
  .imgWrapper img {
    width: 100%;
  }
  .rightContainer {
    width: 100%;
    height: 100%;
  }
  .rightContainer li {
    font-size: 18px;
    line-height: 20px;
    text-align: start;
    padding: 0px 30px;
    gap: 12px;
    height: 45px;
  }
  .frames {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 18px;
  }
  .ellipse {
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    border: 1px solid #37447e;
    border-radius: 50%;
    justify-content: center;
  }
  .number {
    position: relative;
    width: 40px;
    height: 40px;
    left: 15px;
    top: 9px;
    font-weight: 400;
    font-size: 18px;
  }
}
